/* .container-fluid {
    padding: 0 !important;
} */

p {
    text-align: center;
    color: #ffffff;
    font-family: 'Sunflower', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
}

p.titleStatement1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Sunflower', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Audiowide', cursive;
    font-size: 1rem;
    margin-bottom: 0;
}

p.titleStatement2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Sunflower', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Audiowide', cursive;
    font-size: 1rem;
}