#background1 {
    position: fixed; 
    bottom: 0;
    height: 100vh;
    min-width: 100%;
    min-height: 100vh;
    background-position-x: -300;
    background-position-y: 0;
    z-index: -100;
}

.card {
    background-color: rgba(0,0,0,0.5);
}

.packages {
    /* margin: 1rem; */
    /* float: left; */
    margin-left: 0rem;
    margin-bottom: 2rem;
    position: initial;
    float: right;
} 

/* .profiletext {
    font-size: 2rem;
} */

.profile .card-title {
    color: #ffffff;
}

.profile .card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}

.profile:hover .card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}

.profile img {
    max-height: 100%;
}

.profile a:hover {
    transition: transform .2s; /* Animation */
    text-decoration: none;
    width: 200px;
    height: 200px;
}

.profile .grow { transition: all .2s ease-in-out; }
.profile .grow:hover { transform: scale(1.1); }


p.profiletext {
    font-size: 2rem;
}
