.nav {
    /* background-color: black; */
    font-family: 'Sunflower', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Audiowide', cursive;
}

#navButton {
    width: auto;
}

#navPieces {
    font-size: .5rem;
}

