.nav {
    font-family: 'Sunflower', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Audiowide', cursive;
}

#nvb1 {
    width: auto;
}

/* #navPieces {
    font-size: .5rem;
} */

