
.nav {
    font-family: 'Sunflower', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Audiowide', cursive;
    margin-bottom: 0rem;
}

.expanded {
    background: rgba(0,0,0,0.75);
}

li.nav-item {
    /* background: rgba(0,0,0,0.75); */
    padding: 3rem;
}

#nvb1 {
    width: auto;
}

a:hover {
    color: lime;
}

.countdown-link {
    font-size: .75rem;
    color: #ffffff;
    margin: 20px;
}

.general {
    text-align:center;
    padding:10px;
    height: auto;
    width: 8%;
    /* position:relative/absolute; */
    /* left:50%; */
    /* transform: translateX(-50%); */
      
      /* text-shadow: Simulating Text Stroke
          -1px -1px 0 #000, 
          1px -1px 0 #000, 
          -1px 1px 0 #000, 
          1px 1px 0 #000; */
      
    /* border: 1px solid rgba(0,0,0,0.5); */
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, #a3d1ff, #00f, #a3d1ff, #00f, #a3d1ff);
    border-image-slice: 1;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    border-radius: 3px;
      
    background: rgba(0,0,0,0.25);
  
      -o-box-shadow: 
          0 2px 8px rgba(0,0,0,0.5),
          inset 0 1px rgba(255,255,255,0.3),
          inset 0 10px rgba(255,255,255,0.2),
          inset 0 10px 20px rgba(255,255,255,0.25),
          inset 0 -15px 30px rgba(0,0,0,0.3);
  
      -webkit-box-shadow: 
          0 2px 8px rgba(0,0,0,0.5),
          inset 0 1px rgba(255,255,255,0.3),
          inset 0 10px rgba(255,255,255,0.2),
          inset 0 10px 20px rgba(255,255,255,0.25),
          inset 0 -15px 30px rgba(0,0,0,0.3);
  
      -moz-box-shadow:
          0 2px 8px rgba(0,0,0,0.5),
          inset 0 1px rgba(255,255,255,0.3),
          inset 0 10px rgba(255,255,255,0.2),
          inset 0 10px 20px rgba(255,255,255,0.25),
          inset 0 -15px 30px rgba(0,0,0,0.3);
      
  	box-shadow: 
          0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */ 
          inset 0 1px rgba(0, 0, 0, 0), /*  Top light Line */
          inset 0 10px rgba(0,0,0,0), /*  Top Light Shadow */ 
          inset 0 10px 20px rgba(255,255,255,0.25),  /*  Sides Light Shadow */  
          inset 0 -15px 30px rgba(0,0,0,0.3);  /*  Dark Background */
  
      /* margin: 5px; */
      /* display: inline-block; */
      text-decoration: none;
  }

.center {
    height: 90%;
    width: 8%;
    padding: 10px;
    border-radius: 5px 10px 5px 5px; /* top-left corner, top-right corner, bottom-right corner, bottom-left corner */
    border-image: linear-gradient(45deg, #a3d1ff, #00f, #a3d1ff, #00f, #a3d1ff);
    border-image-slice: 1;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  
    background: rgba(80,155,230,0.75);
    background: linear-gradient(217deg, rgba(193,230,250,.8), rgba(0,0,175,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%),
                linear-gradient(127deg, rgba(29,108,235,.8), rgba(29,108,235,0) 70.71%);
  
    box-shadow: 
          0 2px 8px rgba(0,0,0,0), /* Exterior Shadow */
          inset 0 1px rgba(0,0,0,0), /* Top light Line */
          inset 0 10px rgba(0,0,0,0), /* Top Light Shadow */
          inset 0 10px 20px rgba(0,0,0,0), /* Sides Light Shadow */
          inset 0 -15px 30px rgba(0,0,0,0); /* Dark Background */
  }

        
